<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:900" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>popsic.io</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
</head>
<body>
<h1 id="gameTitle">Popsic.io</h1>
<div id="startBox">
        <input type="text" title="name" id="nameField" maxlength="16">
        <br/>
        <input type="submit" value="JOIN" id="startButton">
</div>
<canvas id="gameCanvas">
    This is the canvas
</canvas>
<canvas id="guiCanvas">
    This is the canvas
</canvas>
<script src="/client"></script>
<div id="hiddenImages">
    <img src="../img/gridsquare.png" id="gridsquare" width="100" height="100">
    <img src="../img/popsicle.png" id="pop">
    <img src="../img/popsicleblue.png" id="pop1">
    <img src="../img/popsiclegreen.png" id="pop2">
    <img src="../img/popsicleorange.png" id="pop3">
    <img src="../img/popsiclered.png" id="pop4">
    <img src="../img/popsiclepurple.png" id="pop5">
    <img src="../img/popsicleyellow.png" id="pop6">
    <img src="../img/splinter1.png" id="s1">
    <img src="../img/splinter2.png" id="s2">
    <img src="../img/splinter3.png" id="s3">
    <img src="../img/splinter4.png" id="s4">
    <img src="../img/splinter5.png" id="s5">
    <img src="../img/splinter6.png" id="s6">
    <img src="../img/blip.png" id="blip">
</div>
</body>
</html>